{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}

{% block body %}
    <main>

    <section class="budget">

      <div class="container">

        <div class="row">

          <div class="offset-lg-4 col-lg-4 text-center mt-3 p-3 mb-2">

            <h2 style="font-size: 26px;"><b>Odzyskiwanie hasła do konta</b></h2>

            <form method="post" action="/password/request-reset"">

              <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="icon-mail-alt"></i></span>
                </div>
                  <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Adres email" aria-label="Adres email" autofocus required class="form-control">
              </div>

              <button class="btn btn-secondary btn-lg btn-block mt-3" type="submit">Wyślij<i class="icon-right-bold"></i></button>
            </form>

          </div>

        </div>

      </div>

    </section>

    </main>
{% endblock %}
