{% extends 'base.html' %}

{% block title %}Add expense{% endblock %}

{% block footer %}
  <script src="/js/memory.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<script>
  $(document).ready(function(){
  $("#expenseCategory").select2({
             ajax: {
               url: "/AddExpense/chooseExpense",
               type: "post",
               dataType: 'json',
               delay: 250,
               data: function (params) {
                return {
                  searchTerm: params.term // search term
                };
               },
               processResults: function (response) {
                 return {
                    results: response
                 };
               },
               cache: true
              }
             });
   $('#expenseForm').validate({
     rules: {
       expenseMoney: 'required',
       datePicker: 'required',
       expenseCategory: {
         min: 1
       },
       paymentMethod: {
         min: 1
       }
     },
     messages:{
       expenseMoney: {
           required: 'Proszę podać kwotę',
           number: "Proszę podać poprawną liczbę",
           step: "Podaj kwotę do dwóch miejsc po przecinku"
       },
       datePicker: 'Proszę zaznacz datę',
       expenseCategory: 'Proszę wybrać kategorię',
       paymentMethod: 'Proszę wybrać rodzaj płatności'
     },
     errorPlacement: function (error, element) {
     var name = $(element).attr("name");
     error.appendTo($("#" + name + "_validate"));
     },
   });

   $("#expenseCategory").change(function(){
     var expenseId = $(this).val();
     var today = new Date();
     var year = today.getFullYear();
     var month = today.getMonth()+1;
       if(month<10)
       {
         month="0"+month;
       }
       var date1 = year+"-"+month;
     $.ajax({
     url: "/AddExpense/showLimit",
     method: "POST",
     data: {expenseId:expenseId, date1:date1}, //js:php
       success:function(data)
       {
         $('#showlimit').html(data);
       }
   });
});
  });
  $(document).ready(function(){
  $("#paymentMethod").select2({
             ajax: {
               url: "/AddExpense/choosePaymentMethod",
               type: "post",
               dataType: 'json',
               delay: 250,
               data: function (params) {
                return {
                  searchTerm: params.term // search term
                };
               },
               processResults: function (response) {
                 return {
                    results: response
                 };
               },
               cache: true
              }
             });
           });
  </script>
{% endblock %}

{% block body %}
<main>

		<section class="budget">
			<div class="container">
				<div class="row">
					<div class="offset-lg-4 col-lg-4 text-center mt-3 p-3 mb-2">
						<h2><b>Wprowadź dane wydatku:</b></h2>
						<form method="post" action="/AddExpense/new" id="expenseForm">
							<div class="input-group mb-2 mt-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1"><i class="icon-money-1"></i></span>
								</div>
									<input type="number" name="expenseMoney" id="expenseMoney" class="form-control" step="0.01" placeholder="Kwota" aria-label="Kwota" aria-describedby="basic-addon1">
							</div>
              <div id="expenseMoney_validate"></div>

							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="icon-calendar"></i></span>
								</div>
									<input type="date" class="form-control" id="datePicker" name="datePicker" aria-label="Data" aria-describedby="basic-addon1">
							</div>
              <div id="datePicker_validate"></div>

              <div class="input-group mb-2">
									<select id="paymentMethod" name="paymentMethod" class="form-control">
										<option value="0" selected>--Wybierz rodzaj płatności--</option>
									</select>
							</div>
              <div id="paymentMethod_validate"></div>

							<div class="input-group mb-2">
									<select id="expenseCategory" name="expenseCategory" class="form-control">
										<option value="0" selected>--Wybierz rodzaj wydatku--</option>
									</select>
							</div>
              <div id="expenseCategory_validate"></div>
              <div id="showlimit"></div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="icon-pencil-alt"></i></span>
								</div>
									<input type="text" name="expenseComment" id="expenseComment" class="form-control" placeholder="Komentarz" aria-label="Komantarz" aria-describedby="basic-addon1">
							</div>
							<div class="col-lg-5 p-0" style="float: left; margin-left: 0px;">
								<button class="btn btn-success btn-lg btn-block" type="submit">Dodaj</button>
							</div>
							<div class="col-lg-5 p-0" style="float: right;">
								<button class="btn btn-danger btn-lg btn-block" type="reset">Anuluj</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>

	</main>
{% endblock %}
