{% extends "base.html" %}

{% block title %}showExpenses{% endblock %}
{% block footer %}
  <script>

  $(document).ready(function(){
    $.ajax({
    url: "/profile/getCategoryExpenses",
      success:function(data)
      {
        $('#expenses').html(data);
      }
    });
 });

 $("#contener").on ('click', '.button', function(){
   var idExpense = $(this).val();
   $('#idExpense').val(idExpense);
   $('#idExpense2').val(idExpense);
 });

  </script>
{% endblock %}
{% block body %}
<div class="offset-lg-3 col-lg-6 mt-3 p-3 mb-2" id="contener">
  <h2 style="font-size: 25px" class="text-center">Edycja kategorii wydatków</h2>

  <div id="expenses"></div>

  <div class="col-lg-5 p-0 mt-4" style="float: left; margin-left: 0px;">
    <button class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#addModal" type="button">Dodaj nową kategorię</button>
  </div>

  <div class="col-lg-5 p-0 mt-4" style="float: right;">
    <button class="btn btn-danger btn-lg btn-block" type="button" onClick="location.href='/profile/show';">Anuluj</button>
  </div>
</div>

<!-- Modal \/-->
<form method="post" action="/Profile/removeCategoryExpense" id="send1">
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header" style="display:block">
    <button type="button" class="close" style="float: right;" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title" style="text-align: center; font-size: 20px;">Czy na pewno chcesz usunąć daną kategorię oraz wszystkie wydatki przypisane do tej kategorii?</h3>
    </div>
    <input type="hidden" id="idExpense" name="idExpense">
    <div class="modal-footer"style="display: block;">
      </form>
    <div class="col-lg-5 p-0 mb-3" style="float: left; margin-left: 0px;">
      <button class="btn btn-danger btn-lg btn-block" type="submit" id ="delete" form="send1"  style="font-size: 15px;">Tak</button>
    </div>
    <div class="col-lg-5 p-0 mb-3" style="float: right;">
      <button class="btn btn-success btn-lg btn-block" type="button" data-dismiss="modal" style="font-size: 15px;">Nie</button>
    </div>
    </div>
  </div>
  </div>
</div>
<!-- Modal /\-->
<!-- Modal \/-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header" style="display:block">
    <button type="button" class="close" style="float: right;" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title" style="text-align: center; font-size: 20px;">Dodawanie nowej kategorii wydatków</h3>
    </div>
   <h3 style="font-size: 20px; text-align: center;" class="mt-5 mb-0">Podaj nazwę nowej kategorii</h3>
  <form method="post" action="/Profile/addNewExpense">
     <div class="modal-body">
      <div class="input-group mb-3">
          <input type="text" class="form-control" id="newExpense" name="newExpense">
      </div>
     </div>
     <h3 style="font-size: 20px; text-align: center;" class="mt-3 mb-0">Podaj miesięczny limit dla kategorii. Nie wymagane</h3>
     <div class="modal-body">
      <div class="input-group mb-3">
          <input type="number" name="expenseLimit" id="expenseLimit" class="form-control" step="0.01" placeholder="Limit" aria-label="Kwota" aria-describedby="basic-addon1">
      </div>
     </div>
    <div class="modal-footer"style="display: block;">
    <div class="col-lg-5 p-0 mb-3" style="float: left; margin-left: 0px;">
      <button class="btn btn-success btn-lg btn-block" type="submit" style="font-size: 15px;">Dodaj</button>
    </div>
    <div class="col-lg-5 p-0 mb-3" style="float: right;">
      <button class="btn btn-danger btn-lg btn-block" type="button" data-dismiss="modal" style="font-size: 15px;">Anuluj</button>
    </div>
    </div>
  </form>
  </div>
  </div>
</div>
<!-- Modal /\-->
<!-- Modal \/-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header" style="display:block">
    <button type="button" class="close" style="float: right;" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title" style="text-align: center; font-size: 20px;">Edycja wydatku</h3>
    </div>
   <h3 style="font-size: 20px; text-align: center;" class="mt-3 mb-0">Podaj nową nazwę dla wydatku</h3>
  <form method="post" action="/Profile/editExpense">
     <div class="modal-body">
      <div class="input-group mb-3">
          <input type="text" class="form-control" id="editExpense" name="editExpense">
          <input type="hidden" id="idExpense2" name="idExpense2">
      </div>
     </div>
     <h3 style="font-size: 20px; text-align: center;" class="mt-3 mb-0">Podaj miesięczny limit dla kategorii. Nie wymagane</h3>
     <div class="modal-body">
      <div class="input-group mb-3">
          <input type="number" name="expenseLimit" id="expenseLimit" class="form-control" step="0.01" placeholder="Limit" aria-label="Kwota" aria-describedby="basic-addon1">
      </div>
     </div>

    <div class="modal-footer"style="display: block;">
    <div class="col-lg-5 p-0 mb-3" style="float: left; margin-left: 0px;">
      <button class="btn btn-success btn-lg btn-block" type="submit" style="font-size: 15px;">Edytuj</button>
    </div>
    <div class="col-lg-5 p-0 mb-3" style="float: right;">
      <button class="btn btn-danger btn-lg btn-block" type="button" data-dismiss="modal" style="font-size: 15px;">Anuluj</button>
    </div>
    </div>
  </form>
  </div>
  </div>
</div>
<!-- Modal /\-->
{% endblock %}
